@import "tailwindcss";

@media (hover: hover) {
  .hover-underline:hover {
    text-decoration: underline;
  }
}

@custom-variant hover (&:hover);

body {
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

@theme {
  /* Display */
  --text-display: 36px;
  --text-display--line-height: 1.2;
  --text-display--font-weight: 700;

  /* Heading */
  --text-heading-large: 32px;
  --text-heading-large--line-height: 1.2;
  --text-heading-large--font-weight: 700;

  --text-heading-small: 28px;
  --text-heading-small--line-height: 1.2;
  --text-heading-small--font-weight: 600;

  /* Title */
  --text-title-large: 24px;
  --text-title-large--line-height: 1.5;
  --text-title-large--font-weight: 700;

  --text-title-medium: 22px;
  --text-title-medium--line-height: 1.5;
  --text-title-medium--font-weight: 600;

  --text-title-small: 20px;
  --text-title-small--line-height: 1.5;
  --text-title-small--font-weight: 600;

  --text-title-xsmall: 16px;
  --text-title-xsmall--line-height: 1.5;
  --text-title-xsmall--font-weight: 600;

  /* Body */
  --text-body-large: 20px;
  --text-body-large--line-height: 1.5;
  --text-body-large--font-weight: 600;

  --text-body-medium: 16px;
  --text-body-medium--line-height: 1.5;
  --text-body-medium--font-weight: 500;

  --text-body-small: 14px;
  --text-body-small--line-height: 1.5;
  --text-body-small--font-weight: 400;

  /* Label */
  --text-label-large: 20px;
  --text-label-large--line-height: 1.5;
  --text-label-large--font-weight: 600;

  --text-label-medium: 16px;
  --text-label-medium--line-height: 1.5;
  --text-label-medium--font-weight: 500;

  --text-label-small: 14px;
  --text-label-small--line-height: 1.5;
  --text-label-small--font-weight: 500;

  /* Link */
  --text-link-large: 15px;
  --text-link-large--line-height: 1.5;
  --text-link-large--font-weight: 400;

  --text-link-small: 13px;
  --text-link-small--line-height: 1.5;
  --text-link-small--font-weight: 400;
}

.scrollbar-overlay {
  scrollbar-width: thin;
  scrollbar-color: auto transparent;
}

.scrollbar-overlay::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-overlay::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-overlay::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
